{% load my_tags %}
<div class="col-4">
    <div class="card mb-0 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-center">{{ object.dog.name }} / {{ object.dog.category }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title pricing-card-title">{{ object.title|truncatechars:30 }}</h5>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Создан: {{ object.created }}</li>
            </ul>
            <a class="btn btn-lg btn-block btn-outline-info"
               href="{% url 'reviews:detail_review' object.slug %}">Подробнее</a>
            {% if user.is_staff %}
                <a href="{% url 'reviews:update_review' object.slug %}"
                   class="btn btn-lg btn-block btn-outline-warning">Изменить/Удалить</a>
            {% elif object.author == user %}
                <a href="{% url 'reviews:update_review' object.slug %}"
                   class="btn btn-lg btn-block btn-outline-warning">Изменить</a>
            {% endif %}
        </div>
    </div>
</div>